.modal {
    display: flex; 
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(227, 224, 224, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    width: 50%;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #000000;
}

h4 {
    margin-bottom: 15px;
    margin-top: 5px;
    color: #575757;
}

.input-group {
    padding: 10px 1px;
    margin-bottom: 2px;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-error{
    outline: 2px solid red;
}
.cipher-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 10px 10px;
    transition: background-color 0.3s;
}

.cipher-button:hover {
    background-color: #45a049;
}

#cipherType {
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    background: white;
    color: #575757;
    height: 32px;              
}
